<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.virmana.Iplayer">




    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name="com.virmana.Iplayer.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <activity
            android:name="com.virmana.Iplayer.ui.activities.IntroActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity
                android:name="com.virmana.Iplayer.ui.activities.MoviePlayerActivity"
                android:theme="@style/AppThemeNoAction"
                android:screenOrientation="landscape"
                android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity
                android:name="com.virmana.Iplayer.ui.activities.MusicPlayerActivity"
                android:theme="@style/AppThemeNoAction"
                android:configChanges="orientation|screenSize|keyboardHidden"/>





        <activity
            android:name="com.virmana.Iplayer.ui.activities.SplashActivity"
            android:theme="@style/AppThemeActionDestils"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.ReadNewsActivity"/>
        <activity android:name=".ui.activities.HomeActivity"
        android:theme="@style/Theme.Design.NoActionBar"/>
    </application>

</manifest>