<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.averton.Iplayer">




    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:name="com.averton.Iplayer.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/averton_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true"

        tools:ignore="GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        
        <receiver android:name="com.averton.Iplayer.ActivityRunOnStartUp"
                  android:enabled="true"
                  android:exported="true"
                android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
<intent-filter>
    <action android:name="android.intent.action.BOOT_COMPLETED"/>
    <action android:name="android.intent.action.QUICKBOOT_POWERON" />
    <category android:name="android.intent.category.DEFAULT" />

</intent-filter>


        </receiver>


        <activity
                android:name="com.averton.Iplayer.ui.activities.MoviePlayerActivity"
                android:theme="@style/AppThemeNoAction"
                android:screenOrientation="landscape"
                android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity
                android:name="com.averton.Iplayer.ui.activities.MusicPlayerActivity"
                android:theme="@style/Theme.Design.NoActionBar" android:screenOrientation="landscape"
                android:configChanges="orientation|screenSize|keyboardHidden"/>





        <activity
            android:name="com.averton.Iplayer.ui.activities.SplashActivity"
            android:theme="@style/AppThemeActionDestils" android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.averton.Iplayer.ui.activities.ReadNewsActivity"
            android:theme="@style/Theme.Design.NoActionBar" android:screenOrientation="landscape"/>
        <activity android:name="com.averton.Iplayer.ui.activities.HomeActivity"
        android:theme="@style/Theme.Design.NoActionBar" android:screenOrientation="landscape"/>




        <activity android:name="com.averton.Iplayer.ui.activities.ExoPlayerActivity"
                  android:theme="@style/Theme.Design.NoActionBar" android:screenOrientation="landscape"
                  android:configChanges="orientation|screenSize|keyboardHidden"/>
        <activity android:name=".ui.activities.MovieDescActivity"
            android:theme="@style/Theme.Design.NoActionBar" android:screenOrientation="landscape" android:parentActivityName=".ui.activities.HomeActivity"/>


    </application>

</manifest>